/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
:host,
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
article,
aside,
nav,
section,
header,
footer,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

/* List */
ul {
	list-style: none;
}

/* Form */
button,
input,
select,
textarea {
	margin: 0;
	line-height: 1.5em;
	font-size: inherit;
}

/* Box sizing */
:host,
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

/* Media */
img,
video {
	height: auto;
	max-width: 100%;
}

/* Iframe */
iframe {
	border: 0;
}

/* Table */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
